<!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>
		<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid" style="margin: 25px">
      <div class="jumbotron" style="margin-right: 25px">
        <h1>Pets DB</h1>
        <table class="table table-bordered">
          <thead class="thead-light">
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Species</th>
            </tr>
          </thead>
          {% for pet in pets %}
          <tr>
            <td>{{pet.id}}</td>
            <td>{{pet.name}}</td>
            <td>{{pet.species}}</td>
          </tr>
          {% endfor %}
        </table>
        <form class="" action="/safe_add_pet" method="post">
          <p>Name: <input type="text" name="name"></p>
          <p>Species: <input type="text" name="species"></p>
        <input type="submit" value="Safe Add Pet">
        </form>
        <form class="" action="/dangerous_add_pet" method="post">
          <p>Name: <input type="text" name="name"></p>
          <p>Species: <input type="text" name="species"></p>
        <input type="submit" value="Dangerous Add Pet">
        </form>
      </div>
    </div>
  </body>
</html>
